<form *ngIf="!connected" (submit)="login()">
    <label>Username : </label>
    <input type="text" [(ngModel)]="username" name="username">
    <label>Password : </label>
    <input type="text" [(ngModel)]="password" name="password">
    <label>Mail : </label>
    <input type="text" [(ngModel)]="mail" name="mail">
    <label>Birthdate : </label>
    <input type="date" [(ngModel)]="birthdate" name="birthdate">
    <button>Login</button>
</form>

<section *ngIf="connected">
    Salut {{username}} !
    <button (click)="logout()">Logout</button>
</section>